@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");


.section-primary,
.section-secondary {
  padding: var(--space-l) var(--space-s);
}

.section-primary {
  background-color: var(--terciary-color);
  color: var(--secondary-color2);
}

.title-espec {
  font-family: "Arbutus Slab", serif;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  margin-bottom: var(--space-s);
  text-align: left;
}

.text-profesional,
.text-padding-profesional,
.text-profesional-last {
  font-size: 1rem;
  line-height: 1.8rem;
}
.text-profesional {
  padding-bottom: var(--space-s);
}

.img-profesional {
  width: 100%;
}

.img-profesional {
  padding-bottom: var(--space-m);
}

.video-container {
  display: flex;
  flex-direction: row; 
}

.display-flow {
  display: flex;
  flex-direction: column;
}

.title-espec {
  margin-bottom: var(--space-m);
}

.profesional {
  color: var(--primary-color);
  text-decoration: underline;
  text-align: center;
}

.text-padding {
  /* padding-left: var(--space-xs); */
  /* padding-top: var(--space-s); */
}

.text-padding-profesional > li {
  padding-bottom: var(--space-xs);
}

.text-padding-profesional > li:last-child {
  padding-bottom: 0;
}

.subtitulo {
  color: var(--primary-color);
  margin-top: var(--space-m);
  padding-bottom: var(--space-xs);
  text-decoration-line: underline;
}

article > ul > li {
  /* list-style-image: url("../img/logo-listado.png"); */
  margin-left: var(--space-s);
}

.text-padding > ul {
  padding-bottom: var(--space-xs);
}

.lista-li {
  /* text-align: center; */
  list-style: none;
  /* list-style-image: url("../img/pruebas.png"); */
}

.position-profesional {
  display: none;
}

.video-skills {
  padding-bottom: var(--space-l);
}

.video-skills:last-child {
  padding-bottom: 0;
}

.wrapper-video-section:last-child {
  padding: unset;
}

@media (min-width: 768px) {

  .section-secondary {
    padding: var(--space-xl) var(--space-l);
  }
  
  .lista-li {
    text-align: left;
  }

  .profesional {
    padding-top: var(--space-xs);
  }

  .text-padding {
    padding-top: 0rem;
    /* padding-left: var(--space-m); */
  }

  .text-profesional {
    padding-right: var(--space-s);
  }

  .position-profesional {
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  .position-profesional2 {
    display: none;
  }

  .display-flow {
    flex-direction: row;
    /* text-align: center; */
  }

  .wrapper-video-section {
    width: 100%;
    flex-wrap: wrap;
  }

  .video-skills {
    padding: 0rem var(--space-xs);
    width: 30%;
    height: 12rem;
  }

  .wrapper-image-section-right {
    text-align: right;
    width: 50%;
  }

  .wrapper-image-section-left,
  .wrapper-image-section-left-profesional {
    text-align: left;
    width: 50%;
    padding-left: var(--space-m);
  }

  .wrapper-image-section-profesional {
    width: 50%;
    padding-right: var(--space-s);
    padding-left: var(--space-s);
  }

  .img-profesional {
    width: 100%;
    padding-bottom: 0;
  }

  .title-espec {
    margin-bottom: var(--space-l);
    
  }

}
